* {
    padding: 0;
    margin: 0;
}

header {
    background: #163A24;
    padding: 20px 0;
}

.container {
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container a {
    align-items: center;
}

.container a img {
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    align-items: center;
}

header nav li {
    margin-left: 24px;
}

header nav li a {
    text-decoration: none;
}
.nav_container_1 a,
.nav_container_2 a {
    color: #FBFAF7;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
}

.nav_container_1 {
    align-items: center;
}

.nav_container_2 {
    border-radius: 160px;
    background: #198C36;
    padding: 15px 25px;
}

h1 {
    color: #FBFAF7;
    font-family: Recoleta;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 66px;
    max-width: 391px;
}

.container_sec1 p {
    color: #FBFAF7;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    max-width: 475px;
}

.section_1 article {
    max-width: 475px;
}

.section_1 {
    background-color: #163A24;
    padding: 120px 0;
    background-image: url("../images/section1.png");
    background-repeat: no-repeat;
    background-position: 1000px 0;
}

.container_sec1 {
    max-width: 1180px;
    margin: auto;
}

.container_sec1 article {
    max-width: 475px;
}