@media screen and (max-width: 430px){
    /*.container a img {
        max-width: 100%;
        height: auto;
    }*/

    .container {
        max-width: 350px;
        white-space: nowrap;
    }

    .nav_container_1 a, .nav_container_2 a {
        font-size: 11px;
    }

    .nav_container_2 {
        padding: 0 15px;
    }

    .container_sec1 {
        max-width: 350px;
    }
    .section_1 {
        background-size: 100% auto;
    }

    h1 {
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .container_sec1 p {
        font-size:16px;
    }

    .section_1 {
        background-size: 93% 48%;
        height: 500px;
        background-position: 50% 100%;
        padding: 20px;
    }

    .container_put_the_human, .container_play, .container_women, .container_hr_ebook {
        max-width: 350px;
        gap: 60px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .put_the_human {
        padding: 60px 40px 0 40px;
    }

    .play {
        padding: 30px 40px 0 40px;
    }

    .partners {
        padding-top: 65px;
        padding-bottom: 60px;
    }

    .partners_container {
        max-width: 350px;
    }

    .text_put_the_human h2, .text_play h2, .text_women h2, .text_hr_ebook h2,.container_get_started h2 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .text_put_the_human p, .text_play p, .text_women p, .text_hr_ebook p,.container_get_started p {
        font-size: 15px;
        line-height: 20px;
    }

    .partners h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .partners_icons {
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .partners a {
        margin-left: 0;
        padding: 15px 0;
    }

    .aircall {
        margin-left: 81%;
    }

    .HR_Prod {
        padding-top: 50px;
        padding-bottom: 75px;
    }

    .HR_Prod_Container {
        max-width: 350px;
        margin: auto;
        text-align: center;
    }

    .HR_Prod_Container h2 {
        font-size:30px;
    }

    .employees_container {
        max-width: 350px;
    }

    .employees  {
        padding-top: 65px;
        padding-bottom: 75px;
    }

    .employees_container h2, .easy_as {
        font-size: 30px;
        line-height: 40px;
    }

    .employees_container p, .can_help {
        font-size: 15px;
        line-height: 20px;
    }

    .women, .section_clerksy_can_help {
        padding-top: 70px;
        padding-bottom: 80px;
    }

    .container_consider .first_h2 {
        font-size: 30px;
    }

    .container_consider p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .help_info {
        max-width: 350px;
        justify-content:center;
    }

    .help_info article {
        margin-bottom: 23px;
        padding: 0;
        height:125px;
    }

    .can_help {
        max-width: 350px;
    }

    .fill_out:after {
        display: none;
    }

    .time_it:after {
        display: none;
    }

    .take_advantage:after {
        right: 10%;
        top: 60%;
    }

    .hr_ebook {
        padding-top: 40px;
    }

    .container_hr_ebook img {
        padding-bottom: 40px;
    }

    .container_get_started:before {
        display: none;
    }

    .container_get_started:after {
        top: -10px;
    }

    .container_get_started a {
        font-size: 14px;
    }

    .signUp_text {
        margin: auto;
    }
    .signUp_text p {
        margin-bottom: 25px;
        text-align: center;
    }

    .container_form_email {
        margin: auto;
    }

    .policy {
        width: 400px;
    }
    .submitting_email {
        margin-bottom: 25px;
    }

    .company_people {
        flex-direction: column;
        margin-bottom: 0;
    }

    .company_people img {
        margin-bottom: 10px;
    }

    .company_people h3 {
        margin-bottom: 15px;
    }

    .container_clerksy_inc p {
        text-align: center;
        max-width: 340px;
        margin: auto;
        margin-bottom: 15px;
    }

    .text_hr_ebook {
        display: ruby;
    }

    .get_started .container_get_started {
        padding-bottom: 69px;
    }

    .policy {
        width: 95vw;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .signUp_text h2 {
        text-align: center;
    }
    .text_put_the_human p, .text_play p, .text_women p, .text_hr_ebook p {
        text-align: center;
    }

    .employees_container,.text_women {
        max-width: 280px;
    }

    .cd-logo {
        margin-top: 8px;
        margin-left: 25px;
    }

    .partners_container {
        max-width: 300px;
    }

    .text_hr_ebook {
        display: ruby;
    }

    .policy {
        width: 95vw;
        text-align: center;
    }

    .submitting_email .send_email input {
        width: 65%;
    }
    .submitting_email .send_email button {
        width: 35%;
    }

    .container_clerksy_inc .info_clerksy {
        justify-content: center;
    }

}

